<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.motion.development">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.geospark.example.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.geospark.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.geospark.example.service.GeoSparkForegroundService"
            android:enabled="true"
            android:foregroundServiceType="location" />

    </application>

</manifest>